node_modules
.env
sqitch.conf
logs
/public/videoTemp/*
!/public/videoTemp/README.md
/public/video/*
!/public/video/README.md
/public/thumbnail/* 
!/public/thumbnail/README.md

/public/userThumbnail/* 
!/public/userThumbnail/README.md
!/public/userThumbnail/user.jpg