<%- include('../partials/head'); %>
<%- include('../partials/navbar'); %>
<form ref='uploadForm' 
id='uploadForm' 
action='/upload' 
method='post' 
encType="multipart/form-data">
<div class="input-group">
  <input class="form-control" type="file" name="sampleFile" />
  <input class="btn btn-outline-secondary" type='submit' value='Upload!' />
</div>

</form>  



<%- include('../partials/footer'); %>